<header>
    <nav>
        <ul>
            <li>
                <a id="home" class="left-floated" href="/">MoneyGone</a>
            </li>
        </ul>
        <ul>
            {{#if isLogged}}
            <li>
                <a class="right-floated" href="/expenses/account-info/{{user._id}}">[{{username}} profile]</a>
            </li>
            <li>
                <a class="right-floated" href="/logout">Logout</a>
            </li>
            {{else}}
            <li>
                <a class="right-floated" href="/auth/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</header>