<div class="spacer">
    <h2>{{article.title}}
        {{#if isLogged}}
        <div class="controls">
            <a href="/articles/edit/{{article._id}}">[edit]</a>
            {{#if article.isAuthor}}
            <a href="/articles/delete/{{article._id}}">[delete]</a>
            {{/if}}
        </div>
        {{/if}}
    </h2>
    <article>
        {{#each article.paragraphs}}
        <p>
            {{this}}
        </p>
        {{/each}}
    </article>
</div>